<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
			
	
	
	<bean id="student" class="com.sample9.Student" autowire="constructor">
	</bean>
	
	<bean id="address" class="com.sample9.Address">
	<constructor-arg name="town" value ="Oran" ></constructor-arg>
	<constructor-arg name="county" value ="Co. Galway" ></constructor-arg>
	</bean>
	
	
	

</beans>
